<div class="container">
  <h1>List of Products</h1>
  <table class="table-striped">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Image</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td><%= product.stock %></td>
        <td><%= image_tag product.avatar.url(:thumbnail) %></td>
        <td>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }%>
        </td>      
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to 'New Product', new_product_path %>
</div>

